/* CSS Document */
/* Resete del Navegador */
* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  /* background-image: url(images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; */
  background-color: #DFEAC1; }

div#contenedor {
  width: 1024px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.5); }

nav {
  width: 1024px;
  height: 50px;
  background-color: #52320a; }

header {
  width: 1024px;
  height: 426px;
  background-image: url(images/header_background.png);
  position: relative; }

div#overlay {
  width: 340px;
  height: 160px;
  color: white;
  position: absolute;
  top: 250px;
  left: 250px;
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 20px; }

section#relojes {
  width: 1024px;
  height: 320px; }

section#ubicacion {
  width: 1024px;
  height: 330px; }

section#clientes {
  width: 1024px;
  height: 330px;
  padding-top: 20px; }

section#contacto {
  width: 1024px;
  height: 260px;
  background-color: black; }

footer {
  width: 1024px;
  height: 75px;
  background-color: #18230a; }

h1 {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-weight: 100;
  color: #598527;
  font-size: 32px;
  padding-top: 10px;
  padding-left: 20px;
  text-transform: uppercase;
  float: left;
  /* Sirve para alinear el selector a la izquierda */ }

nav ul {
  float: right;
  margin-top: 20px;
  margin-right: 15px; }

nav li {
  display: inline;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-weight: 100;
  font-size: 18px;
  margin-left: 10px; }

nav a {
  color: #e6bd8b;
  text-decoration: none; }

nav a:hover {
  font-size: 17px;
  color: #C75819; }

div.cajaRelojes {
  width: 341px;
  height: 270px;
  float: left; }

section#relojes h2 {
  width: 200px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-weight: 500;
  font-size: 20px;
  color: #464646;
  padding-left: 20px; }

div.cajaRelojes p {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-weight: 100;
  font-size: 12px;
  line-height: 18px;
  color: #414141;
  height: 150px;
  padding-left: 20px;
  padding-right: 20px; }

img.boton {
  margin-left: 20px; }

div.cajaUbicacion {
  width: 512px;
  height: 330px;
  float: left; }

iframe#mapa {
  margin-left: 15px;
  margin-top: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
  float: left;
  display: block;
  margin-right: 20px; }

ul#direccion {
  margin-top: 10px;
  list-style: none;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 18px;
  font-weight: 100;
  color: #414141; }

ul#direccion li {
  margin-bottom: 10px; }

iframe#video {
  margin-left: 15px; }

div.cajaUbicacion h2 {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 20px;
  font-weight: 200;
  color: #414141;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px; }

section#clientes hr {
  width: 900px;
  border: solid 1px #a6c15a;
  margin: 0 auto;
  margin-bottom: 15px; }

section#clientes h2 {
  text-align: center;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 20px;
  font-weight: 200;
  color: #414141;
  margin-bottom: 20px; }

div.cajaClientes {
  width: 512px;
  height: 260px;
  float: left; }

div.cajaClientes img {
  margin-top: 40px;
  float: left; }

div.burbuja {
  width: 366px;
  height: 210px;
  background-image: url(images/bubble.png);
  margin-left: 125px;
  margin-top: 30px; }

div.burbuja p {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 12px;
  font-weight: 300;
  color: #414141;
  line-height: 18px;
  text-align: justify;
  height: 140px;
  margin-bottom: 20px; }

div.burbuja h4 {
  color: white;
  padding-left: 50px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 18px;
  font-weight: 200; }

div.cajaContacto {
  width: 341px;
  height: 260px;
  float: left; }

div.cajaContacto h5 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 16px;
  font-weight: 300;
  color: white; }

div.cajaContacto hr {
  width: 300px;
  border: solid 1px #a6c15a;
  margin: 0 auto;
  margin-bottom: 10px; }

div.cajaContacto p {
  width: 280px;
  margin: 0 auto;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 12px;
  font-weight: 200;
  color: white;
  text-align: justify;
  margin-bottom: 10px;
  line-height: 18px;
  letter-spacing: 1px; }

table {
  width: 300px;
  margin: 0 auto; }

.campo {
  width: 300px;
  height: 25px;
  background-color: #A6C15A;
  border-radius: 5px;
  border: solid 1px #DFEAC1;
  margin-bottom: 10px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 12px;
  color: white;
  padding-left: 10px; }

#altura {
  height: 60px;
  padding-top: 10px; }

.enviar {
  width: 70px;
  height: 30px;
  background-color: #4d7321;
  color: white;
  border-radius: 5px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-weight: 200;
  font-size: 16px;
  cursor: pointer; }

.enviar:hover {
  background-color: #A6C15A;
  font-size: 15px; }

::-webkit-input-placeholder {
  color: white; }

/* Chrome y Safari */
::-moz-input-placeholder {
  color: white; }

/* Mozila Firefox */
::-ms-input-placeholder {
  color: white; }

/* IE */
::-o-input-placeholder {
  color: white; }

/* Opera */
::-input-placeholder {
  color: white; }

/* Universal */
footer h2 {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 30px;
  color: #598527;
  font-weight: 200;
  padding-top: 15px;
  padding-left: 20px;
  float: left; }

footer p {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 14px;
  color: #c1c1c1;
  font-weight: 100;
  padding-top: 25px;
  padding-left: 20px;
  float: left;
  margin-right: 320px; }

div.social {
  width: 32px;
  height: 32px;
  float: left;
  margin-top: 20px;
  margin-left: 10px; }

div#face {
  background-image: url(images/social_icons/facebook_bn.png); }

div#twitter {
  background-image: url(images/social_icons/twitter_bn.png); }

div#instagram {
  background-image: url(images/social_icons/instagram_bn.png); }

div#youtube {
  background-image: url(images/social_icons/youtube_bn.png); }

div#face:hover {
  background-image: url(images/social_icons/facebook.png); }

div#twitter:hover {
  background-image: url(images/social_icons/twitter.png); }

div#instagram:hover {
  background-image: url(images/social_icons/instagram.png); }

div#youtube:hover {
  background-image: url(images/social_icons/youtube.png); }

/*# sourceMappingURL=estilos.css.map */
